.logo {
    width: 30px;
}

.masthead {
    background-image: url('/public/img/masthead.jpg');
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sfondo {
    background-color: rgb(0, 0, 0);
}

.footer {
    background-color: black;
}

.altezza {
    height: 500px;
}

.card-img-top {
    height: 370px;
    width: 100%;

}